/* Label the semantic tags */
.semantic-tag-label {position: absolute; font-size: 10px; opacity: 0.0;}

body {
	display: grid;
	grid-template-areas:
	"header"
	"main"
	"footer";
	height: 100vh;
	grid-template-rows: 100px auto 40px;
}
body>header {grid-area: header;}
body>footer {grid-area: footer;}
body>main   {grid-area: main;}

body {
	margin: 0;
	background-image: url("../images/background.jpg");
	background-size: cover;
	font-family: Verdana;
	font-size: 16px;
}
header>nav {
	margin: 20px 0 0 0;
	padding-right: 20px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: right;
	background-image: linear-gradient(180deg, hsla(207, 21.3333%, 18.5000%, 0.2) 0%, hsl(207, 21.3333%, 18.5000%, 1.0) 8%, hsl(207, 21.3333%, 18.5000%, 1.0) 92%, hsl(207, 21.3333%, 18.5000%, 0.2) 100%);
	box-shadow: 0px 0px 10px hsla(207, 21.3333%, 18.5000%, 0.5);
	color: #ffffe0;
}
header>h1 {
	position: absolute;
	margin: 0;
	top: 10px;
	left: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px hsla(53, 100%, 50.000%, 0.5);
	font-size: 32px;
}
header>h1 img {
	display: block;
	border-radius: 8px;
	width: 100px;
	height: 100px;
}
footer {
	background-image: linear-gradient(180deg, hsla(207, 21.3333%, 18.5000%, 0.2) 0%, hsl(207, 21.3333%, 18.5000%, 1.0) 8%);
	box-shadow: 0px 0px 10px hsla(207, 21.3333%, 18.5000%, 0.5);
	color: #ffffe0;
	z-index: -1;
}
footer p {
	background-color: hsla(207, 21.3333%, 12.5000%, 0.25);
	box-shadow: 0px 0px 10px hsla(207, 21.3333%, 12.5000%, 0.5);
}
main   {
	color: #202020;
	box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
}

header>nav ul {
	margin: 0;
	padding: 0;
}
header>nav li {
	display: inline-block;
	margin: 1px 0;
}
header>nav li a {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 2em;
	min-width: 4em;
	padding: 0 1em;
	border-radius: 0.25em;
	font-size: 18px;
	text-decoration: none;
	color: hsl(207, 34.500%, 90.6250%);
	background-image: radial-gradient(hsla(207, 0%, 80%, 0.2) 0%, hsla(207, 0%, 80%, 0.1) 20%, transparent 80%);
}
header>nav li a:hover {
	box-shadow: 0 0 10px hsla(207, 24.5000%, 80.000%, 0.25);
	background-color: hsl(207, 24.5000%, 24.5000%);
	color: hsl(207, 20.000%, 95.0000%);
}
header>nav li a:active {
	box-shadow: 0 0 10px hsla(207, 24.5000%, 50.000%, 0.25);
	color: hsl(207, 10.000%, 88.0000%);
}
header>nav li a.current-page,
header>nav li a.current-section {
	box-shadow: inset 0 0 15px hsla(60, 12.5000%, 6.6667%, 0.5);
	background-color: hsl(207, 24.5000%, 24.5000%);
	color: hsl(60, 60.000%, 88.0000%);
	cursor: default;
}

main {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

main section.landing-message {
	display: flex;
	align-items: center;
	justify-content: right;
	margin: 10px 0;
	width: 100%;
	height: 100%;
}

main p.mission {
	text-align: right;
	font-size: 60px;
	width: 10.8em;
	margin: 0px;
	padding: 1em;
	color: hsl(207, 0%, 31.250%);
	text-shadow: 0.04em 0.04em 0.05em hsla(207, 50%, 31.250%, 0.4);
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.2) 0%, hsla(0, 0%, 100%, 0.4) 8%);
	border-radius: 2em;
	box-shadow: 0px 0px 45px hsla(0, 0%, 100%, 0.6);
}
main p.mission span {
	display: block;
}
main p.mission span.boost {
	background-color: hsla(60, 100%, 50%, 1);
	border-bottom-left-radius: 0.4em;
	border-top-right-radius: 0.2em 0.1em;
	white-space: nowrap;
}
main button.quote {
	font-size: 12px;
	border: 1px solid #b4b4b4;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background-color: #e0e0e0;
	box-shadow: 0 0 20px hsla(207, 10.000%, 40.000%, 0.20);
	display: none;
}
main button.quote:hover {
	background-color: #e8e8e8;
}
main button.quote:active {
	background-color: #e0e0e0;
	box-shadow: inset 0 0 0.5em hsla(207, 0.000%, 10.000%, 0.15);
}

main article {
	box-sizing: border-box;
	margin: 2px 0;
	width: 80%;
	max-width: 50em;
	min-height: calc(100vh - 150px);
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0.75) 8%, hsla(0, 0%, 100%, 0.75) 92%, hsla(0, 0%, 100%, 0.5) 100%);
	border-radius: 2em;
	box-shadow: 0 0 20px hsl(207, 0.000%, 100.000%);
	padding: 0 2.5em;
}

footer>p {
	margin: 0;
	box-sizing: border-box;
	padding: 1em;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: hsl(207, 40.0000%, 80.0000%);
	text-align: center;
	text-shadow: 0 0 2px hsla(34, 40.0000%, 20.0000%, 0.5);
}

@media screen and (max-width: 760px) {
	main p.mission {
		font-size: 7.5vw;
	}
	header>nav li a {
		font-size: 16px;
	}
}

@media screen and (max-width: 600px) {
	body {
		grid-template-rows: 140px auto 40px;
	}
	header>h1 {
		top: 20px;
		box-shadow: 0px 0px 10px hsla(53, 100%, 50.000%, 0.6667);
	}
	header>nav {
		height: 140px;
	}
	header>nav {
		margin: 0;
	}
	header>nav li {
		display: block;
	}
	header>nav li a {
		background-image: radial-gradient(hsla(207, 0%, 50%, 0.1) 0%, hsla(207, 0%, 50%, 0.05) 40%, transparent 80%), linear-gradient(90deg, hsla(207, 0%, 50.0000%, 0.0) 0%, hsl(207, 0%, 50.0000%, 0.1) 40%, hsl(207, 0%, 50.0000%, 0.1) 60%, hsl(207, 0%, 50.0000%, 0.0) 100%);
		width: calc(100vw - 190px);
		font-size: 14px;
	}
}

@media print {
	@page {
		margin: 1.5cm 1cm;
	}
}

