
	<link rel="manifest" type="application/manifest+json" href="/site.webmanifest">
	<link rel="icon" type="image/svg+xml" href="/site.webicon.svg">
	<link rel="apple-touch-icon" type="image/svg+xml" href="/site.webicon.svg">
	<style>
	div>h1:first-child, .anchorjs-link { display: none; }
	.markdown-body h1, .markdown-body h2 { border-bottom: 1px solid hsla(0, 0%, 50%, 0.333333); }
	img[alt="screenshot"] { background-image: url("screenshot.png"); background-size: contain; background-repeat: no-repeat; width: 100%; }
	@media screen and (prefers-color-scheme: dark) {
		body { color: #d6d6d6; background-color: #303030; }
		a { color: #5da8fd; }
		img[alt="screenshot"] { background-image: url("screenshot-dark.png"); }
	}
	</style>

