@import "woff.css";

body {
	margin: 0;
	font: caption;
	font-size: 16px;
}

.portfolio-item {
	position: absolute;
	width: 250px;
	height: 200px;
	background-image: url("../textures/paper.png"), url("../textures/rip.svg");
	background-position: bottom right;
	background-size: auto;
	border-top-left-radius: 4px 8px;
	border-top-right-radius: 4px 8px;
	text-align: center;
	filter: drop-shadow(0px 10px 5px hsla(0, 0%, 0%, 0.75) );
	cursor: grab;
}

.portfolio-item.grabbing {
	filter: drop-shadow(0px 10px 10px hsla(0, 0%, 0%, 0.75) );
	cursor: grabbing;
}

.portfolio-item .titlebar {
	min-height: 1em;
	line-height: 1em;
	padding: 0.5em;
	border-radius: 6px;
	background-position: center;
	font-family: "AquaBase";
	font-weight: bold;
	user-select: none;
}

.portfolio-item .content {
	line-height: 1.25em;
	font-family: "Handlee";
	color: hsl(42, 60%, 5%);
	height: 132px;
	background-position: bottom;
	background-repeat: no-repeat;
}

.portfolio-item .content p {
	margin: 0.5em;
}

.portfolio-item .content ul {
	margin: 0;
	padding: 0;
}

.portfolio-item .content li {
	list-style-type: none;
}

.dropbox {
	position: absolute;
	width: 250px;
	height: 250px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 12px;
	z-index: -1;
	display: flex;
	align-items: end;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: rgba(135, 135, 135, 0.96);
}

.dialogbox {
	width: 50vw;
	height: 50vh;
	border: 1px solid gray;
	border-radius: 0.5em;
	box-shadow: 0 2px 6px black;
	padding: 0;
}

.dialogbox .titlebar {
	margin: 0;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	user-select: none;
}

.dialogbox .closebutton {
	position: absolute;
	right: 8px;
	top: 6px;
	outline: none;
	margin: 2px;
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.8;
}
.dialogbox .closebutton:hover {
	text-shadow: 0 0 1px gray;
	opacity: 1.0;
}
.dialogbox .closebutton:active {
	padding: 0 1px 1px 0;
	font-size: 22px;
	text-shadow: 0 0 1px gray;
	opacity: 1.0;
}
.dialogbox .content {
	padding: 1em;
	font-size: 20px;
	line-height: 1.25em;
	font-family: "Handlee";
}

@media (prefers-color-scheme: light) {

	body {
		background-color: #d8d8d8;
	}

	.portfolio-item .titlebar {
		border-left: 4px solid hsl(42, 50%, 95%);
		border-right: 4px solid hsl(42, 50%, 90%);
		background-image: url("../textures/paper.png"), linear-gradient(hsl(42, 50%, 95%) 0%, hsl(42, 50%, 78%) 25%, hsl(42, 50%, 78%) 75%, hsl(42, 50%, 60%) 100%);
		color: hsl(42, 50%, 25%);
	}

	.dropbox {
		background-color: hsla(0, 0%, 0%, 0.1);
	}

	.dialogbox, .dialogbox .titlebar {
		border-left: 1px solid hsl(42, 50%, 95%);
		border-right: 1px solid hsl(42, 50%, 90%);
		background-image: url("../textures/paper.png"), linear-gradient(hsl(42, 50%, 95%) 0%, hsl(42, 50%, 78%) 25%, hsl(42, 50%, 78%) 75%, hsl(42, 50%, 60%) 100%);
		color: hsl(42, 50%, 25%);
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #484848;
	}

	.portfolio-item .titlebar {
		border-left: 4px solid hsl(42, 30%, 60%);
		border-right: 4px solid hsl(42, 30%, 58%);
		background-image: url("../textures/paper.png"), linear-gradient( hsl(42, 30%, 60%) 0%, hsl(42, 30%, 50%) 25%, hsl(42, 30%, 50%) 75%, hsl(42, 30%, 40%) 100%  );
		color: hsl(42, 50%, 85%);
	}

	.dropbox {
		background-color: hsla(0, 0%, 100%, 0.1);
	}

	.dialogbox, .dialogbox .titlebar {
		border-left: 1px solid hsl(42, 30%, 60%);
		border-right: 1px solid hsl(42, 30%, 58%);
		background-image: url("../textures/paper.png"), linear-gradient( hsl(42, 30%, 60%) 0%, hsl(42, 30%, 50%) 25%, hsl(42, 30%, 50%) 75%, hsl(42, 30%, 40%) 100%  );
		color: hsl(42, 50%, 85%);
	}

}

