body {
	margin: 0;
	display: grid;
	grid-template-rows: 60px 26px auto 60px;
	height: 100vh;
	width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: black;
}

header h1 {
	margin: 0 10px;
	height: 100%;
	display: flex;
}

header h1 img#harmonicmeans-logo {
	height: 100%;
	width: auto;
}

header h1 img#harmonicmeans-logotext {
	height: 60%;
	width: 216px;
	margin: auto 0;
}

header a#menubutton {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

header a#menubutton img {
	display: block;
	height: 24px;
	width: 24px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: right;
	background-color: black;
}

nav ul {
	margin: 0 6px;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	height: 18px;
	min-width: 6em;
	padding: 3px 6px;
	background-color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #cccccc;
	font-size: 14px;
	border-radius: 4px;
	box-shadow: 0 0 8px #242424;
}

nav ul li a:hover {
	background-color: #404040;
	color: #dddddd;
}

main {
	background-color: #d8d8d8;
}

main section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: url("/images/page-background.jpg");
	background-position: top center;
	background-size: cover;
}

main section#home {
	background-image: url("/images/opening-background-anim.gif"), url("/images/opening-background.jpg");
	background-position: top center;
	background-size: cover;
}

main section#home img#centertext {
	width: 360px;
	height: 60px;
}

main article {
	margin: auto;
	margin-top: 20px;
	max-width: 40em;
	padding: 1em 1em 2em 1em;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 12px;
	box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.4);
}

footer {
	background-color: black;
	color: #b9b9b9;
	width: 100%;
}

footer>p {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: smaller;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

article {
	font-size: 1rem;
}

article a {
	color: #0066cc;
	text-decoration: none;
}

article a:hover {
	color: #11aaff;
	text-decoration: underline;
}

article p {
	line-height: 1.5em;
	margin: 0;
}

article p+p {
	text-indent: 3em;
}

article p:first-child::first-letter {
	float: left;
	font-size: 4em;
	font-weight: bold;
	line-height: 0.75em;
	margin: 0.05em 0.05em -0.05em -0.1em;
	opacity: 0.75;
}

article p:first-child>span:first-child {
	text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.17em;
}

article ul {
	margin: 1em 0;
}

article li {
	line-height: 1.5em;
}

article dl {
	margin: 0;
}

article dt {
	margin: 1.5em 1em 0.5em 1em;
}

article dt.musictitle {
	font-style: italic;
}

article dd {
	margin: 0 1em;
}

article dd .videoframe {
	width: max(40vw, 240px);
	height: max(30vw, 180px);
	border-radius: 12px;
}

article dd audio {
	width: min(calc(100vw - 4em), 300px);
	border-radius: 20px;
}

@media screen and (max-width: 640px) {
	nav ul {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	nav ul li {
		display: block;
		margin: 1px;
	}
}

@media screen and (max-width: 486px) {
	main section#home img#centertext {
		width: 75%;
		height: auto;
	}
	header h1 {
		margin-top: 5px;
		height: 80%;
	}
	header h1 img#harmonicmeans-logotext {
		height: 64%;
		width: 172px;
	}
}
