<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Philippine Astronomy Magazine</title>
	<link rel="manifest" type="application/manifest+json" href="../site.webmanifest" />
	<link rel="icon" type="image/svg+xml" href="../svg/favicon.svg" />
	<link rel="stylesheet" media="screen" href="../css/screen.css" />
	<link rel="stylesheet" media="screen" href="../css/colors.css" />
	<link rel="stylesheet" media="print" href="../css/print.css" />
	<meta name="theme-color" content="hsl(214, 66.6667%, 55.2950%)" media="screen and (prefers-color-scheme: light)">
	<meta name="theme-color" content="hsl(34, 66.6667%, 44.7050%)" media="screen and (prefers-color-scheme: dark)">
	<script src="../js/script.js"></script>
</head>
<body>
	<header>
		<span class="semantic-tag-label">Header</span>
		<h1>
			<a href="../home/"><img src="../svg/logotext.svg" alt="Philippine Astronomy" /></a>
		</h1>
		<nav>
			<img id="menubtn" src="../svg/menu.svg" alt="" title="Click to Show/Hide the menu bar" onclick="toggleMenuBar()" />
			<ul id="menubar">
				<li><a href="../home/">Home</a></li>
				<li><a href="../tonight/">What's Up Tonight</a></li>
				<li><a href="../calendar/">Astro Calendar</a></li>
				<li><a href="../starmaps/">Star Maps</a></li>
				<li><a href="../ask/">Ask an Astronomer</a></li>
				<li><a href="../about/">About Us</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<span class="semantic-tag-label">Main</span>
		<section>
			<article>
				<h2>Page Layout</h2>
				<p><span>Lorem ipsum</span> dolor sit amet, <span>consectetur</span> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim <a href="">id est laborum</a>.</p>
				<p>Suspendisse blandit, enim <a href="">nec efficitur placerat</a>, justo erat ultrices lectus, et suscipit urna erat vitae metus. Aenean fermentum lectus eu quam semper dapibus. Praesent a eros mattis, maximus odio vel, volutpat erat. Vivamus vitae tincidunt velit. Aenean suscipit eros vitae nulla ullamcorper dignissim. Vestibulum vulputate cursus cursus.</p>
				<h3>Section Heading</h3>
				<figure class="smallwidth right">
					<img src="" alt="Image" />
					<figcaption>This is a caption for the image</figcaption>
				</figure>
				<p>Phasellus lectus velit, porttitor nec maximus quis, aliquet vitae urna. Nam fringilla massa sed lorem sagittis cursus. Suspendisse sit amet eleifend tortor. Vestibulum cursus nisi eu elementum iaculis.</p>
				<p>Pellentesque porttitor efficitur risus id dapibus. Donec sem libero, ultricies sit amet egestas fringilla, gravida vel neque. Proin in mi suscipit, accumsan risus eget, condimentum lacus. Pellentesque sed mollis quam. Vestibulum est lacus, iaculis vel feugiat vitae, aliquet dictum ante. Donec a pulvinar mi, id laoreet leo.</p>
				<h3>Section Heading</h3>
				<p>Sed imperdiet sapien a tortor placerat rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eget feugiat quam, non hendrerit dolor.</p>
				<hr class="page-break" />
				<p>Quisque porta arcu odio, ut pretium libero commodo vitae. Maecenas sed bibendum quam, eu auctor nisi. Pellentesque non lobortis dolor, id consectetur erat.</p>
				<ul>
					<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>
					<li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</li>
					<li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</li>
					<li>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</li>
					<li>Integer tincidunt. Cras dapibus.</li>
				</ul>
				<p>Ut bibendum, odio non viverra auctor, mi ipsum imperdiet nulla, nec condimentum metus lacus in tellus. Donec sed varius dui. Pellentesque urna leo, porttitor varius libero ut, auctor pulvinar sapien.</p>
				<h3>Section Heading</h3>
				<p>Vivamus gravida tempus enim, vitae venenatis sem consectetur et. Praesent tempor magna augue, at luctus nisi molestie sit amet. Nulla quis risus hendrerit, sagittis ex vel, bibendum sapien. Nullam vehicula, diam a maximus vulputate, dolor orci mollis felis, ut imperdiet leo lectus at dolor. Donec dictum ipsum vel pretium porttitor.</p>
				<blockquote>
				<p>Pellentesque porttitor efficitur risus id dapibus. Donec sem libero, ultricies sit amet egestas fringilla, gravida vel neque. Proin in mi suscipit, accumsan risus eget, condimentum lacus. Pellentesque sed mollis quam. Vestibulum est lacus, iaculis vel feugiat vitae, aliquet dictum ante. Donec a pulvinar mi, id laoreet leo.</p>
				</blockquote>
				<p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
				<p>Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
			</article>
		</section>
		<aside>
			<span class="semantic-tag-label">Aside</span>
		</aside>
	</main>
	<aside>
		<span class="semantic-tag-label">Aside</span>
		<nav>
			<ul>
				<li><a href="../news/">Astronomy News</a></li>
				<li><a href="../obsguides/">Observation Guides</a></li>
				<li><a href="../learn/">Learn More…</a>
					<ul>
						<li><a href="../constellations/">Constellations</a></li>
						<li><a href="../solarsystem/">The Solar System</a></li>
						<li><a href="../deepspace/">Objects in Deep Space</a></li>
						<li><a href="../cosmology/">Cosmology</a></li>
						<li><a href="../ethnoastro/">Ethnoastronomy</a></li>
					</ul>
				</li>
				<li><a href="../astrophil/">Astronomy in the Philippines</a></li>
			</ul>
		</nav>
	</aside>
	<footer>
		<span class="semantic-tag-label">Footer</span>
		<p class="copyright">Copyright &copy; 2022 Philippine Astronomy Magazine. All rights reserved.</p>
	</footer>
</body>
</html>
