/* Style the colorswitcher_checkbox to look like an ON/OFF toggle */
/* Uses pure CSS. Feel free to add images if you want */

input.colorswitcher {
	position: absolute;
	visibility: hidden;
	margin: -1px;
}

label.colorswitcher {
	font-size: 10px;
}

label.colorswitcher::before {
	display: inline-block;
	width: 20px;
	height: 10px;
	border-radius: 10px;
	padding: 1px;
	font-size: 8px;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0 2px 0 4px;
}

label.colorswitcher[data-colorscheme="light"]:before {
	content: url("../svg/symbols/sun.svg");
	text-align: left;
	background: linear-gradient(90deg, hsl(214, 66.6667%, 55.2950%) 0%, hsl(214, 66.6667%, 55.2950%) 40%, rgba(128,128,128,0.5) 60%);
	color: hsl(60,100%,100%);
}

label.colorswitcher[data-colorscheme="dark"]:before {
	content: url("../svg/symbols/moon.svg");
	text-align: right;
	background: linear-gradient(270deg, hsl(0, 66.6667%, 44.7050%) 0%, hsl(0, 66.6667%, 44.7050%) 40%, rgba(64,64,64,0.5) 60%);
	color: hsl(60,100%,75%);
}

