/* Style the watch_colormode_checkbox to look like an ON/OFF toggle */
/* Uses pure CSS. Feel free to add images if you want */

#watch_colormode_checkbox {
	position: absolute;
	margin: -1px;
	visibility: hidden;
}

#watch_colormode_checkbox+label {
	font-size: 0;
}

#watch_colormode_checkbox+label:after {
	display: inline;
	width: 10em;
	height: 1em;
	padding-left: 0.25em;
	content: "Toggle Night Mode";
	font-size: 10px;
}

#watch_colormode_checkbox+label:before {
	display: inline-block;
	width: 2em;
	height: 1em;
	margin-left: 0.5em;
	font-weight: bold;
	font-size: 10px;
	line-height: 1em;
	border-radius: 0.5em;
	vertical-align: baseline;
	box-sizing: border-box;
}

#watch_colormode_checkbox+label[data-colormode="dark"]:before,
#watch_colormode_checkbox:checked+label[data-colormode="light"]:before {
	content: "☼";
	text-align: left;
	padding-left: 0.10em;
	background: linear-gradient(90deg, hsl(210, 66.6667%, 55.2950%) 0%, hsl(225, 66.6667%, 55.2950%) 40%, rgba(128,128,128,0.5) 60%);
	color: hsl(60,100%,100%);
}

#watch_colormode_checkbox+label[data-colormode="light"]:before,
#watch_colormode_checkbox:checked+label[data-colormode="dark"]:before {
	content: "☽";
	text-align: right;
	padding-right: 0.24em;
	background: linear-gradient(270deg, hsl(8, 66.6667%, 44.7050%) 0%, hsl(0, 66.6667%, 44.7050%) 40%, rgba(64,64,64,0.5) 60%);
	color: hsl(60,100%,100%);
}

