/* Typography */

article {
	font-size: 1rem;
}
article h2 {
	margin: 0 0 0.71em 0;
	font-size: 1.73em;
}
article .subheading{
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1.5em;
}
article .source{
	margin-bottom: 1.5em;
}
article .news-date{
	margin-bottom: 1em;
	opacity: 0.6;
}
article h3 {
	margin: 1em 0 0 0;
	font-size: 1.17em;
}
article>p {
	margin: 0.5em 0;
	line-height: 1.5em;
	text-indent: 2.5em;
}
article>p:first-of-type {
	text-indent: 0;
}
article>p:first-of-type::first-letter {
	float: left;
	font-weight: bold;
	opacity: 0.75;
}
article>p:first-of-type>span:first-child {
	font-variant: small-caps;
	font-size-adjust: 0.48;
	font-size: 1.25rem;
	letter-spacing: 0.15em;
}
article .article-list h3 {
	margin: 1.5em 0 0 0;
	font-size: 1.17em;
	line-height: 1.25em;
}
article .article-list p {
	text-indent: 2.5em;
	line-height: 1.5em;
}
article ul {
	margin: 1em 0;
	padding: 0 4em;
}
article li {
	line-height: 1.5em;
	margin: 0.5em 0;
	padding: 0;
}
article figure {
	float: right;
	margin: 0.5em 1em;
	width: 240px;
	height: auto;
	font-size: 0.833333em;
}
article figure.fullwidth {
	float: none;
	margin: 1.5em 0;
	width: 100%;
}
article figure.halfwidth {
	float: none;
	margin: 1.5em 4em;
	width: calc(100% - 8em);
}
article figure img {
	display: block;
	min-width: 240px;
	min-height: 180px;
	width: 100%;
	height: auto;
	background-color: hsl(34, 13.3333%, 87.5000%);
	border-radius: 4px;
}
article figure figcaption {
	margin-top: 0.25em;
	text-align: center;
}
article table {
	border-collapse: collapse;
	font-size: 1em;
	margin: 0.5em 0;
}
article table th,
article table td {
	border: 1px solid gray;
	text-align: center;
	padding: 0.2em;
}
article table th {
	white-space: nowrap;
	background-color: hsl(214, 50.0000%, 87.500%);
	color: hsl(0, 0.0000%, 30.500%);
}
article table tr th:first-child {
	font-weight: normal;
	font-style: italic;
	background-color: hsl(214, 50.0000%, 91.500%);
	color: hsl(0, 0.0000%, 20.000%);
}
article table tr:first-child th {
	font-weight: bold;
	font-style: normal;
	background-color: hsl(214, 50.0000%, 87.500%);
	color: hsl(0, 0.0000%, 30.500%);
}
article table.table-row-striped tr:nth-child(even) td {
	background: hsl(214, 0.000%, 92.1875%);
}
article table.table-row-striped tr:nth-child(odd) td {
	background: hsl(214, 0.000%, 100%);
}
article div.table-container {
	display: flex;
	flex-direction: column;
}
article div.table-container table+p {
	text-align: right;
	font-size: 85%;
}
article form {
	margin: 1em auto;
	display: grid;
	grid-template-columns: 10em 1fr;
	grid-gap: 0.5em;
}
article form label {
	text-align: right;
	padding-top: 0.25em;
}
article form input {
	min-height: 1.5em;
}
article form button {
	min-height: 2em;
}

article form input,
article form textarea {
	font-size: smaller;
	font-family: inherit;
	line-height: 1.8em;
	background-color: hsl(0, 0%, 100%);
	color: hsl(214, 0%, 12.5%);
	border: 1px solid hsl(214, 20%, 50%);
}
article form input:focus,
article form textarea:focus {
	outline: 1px solid hsl(214, 20%, 50%);
}
article form button {
	background-color: hsl(0, 0%, 90%);
	color: hsl(214, 0%, 12.5%);
	border: 1px solid hsl(214, 20%, 60%);
}
article blockquote {
	box-sizing: border-box;
	margin: 2em;
	padding-left: 2em;
	line-height: 1.5em;
	border-left: 2px solid hsl(214, 25%, 75%);
}
article blockquote p {
	text-indent: 2em;
	margin: 0;
}

@media screen and (prefers-color-scheme: dark) {

	article table th {
		background-color: hsl(34, 12.5000%, 14.500%);
		color: hsl(34, 20.000%, 60.00%);
	}
	article table tr th:first-child {
		background-color: hsl(34, 12.5000%, 11.200%);
		color: hsl(34, 20.000%, 55.00%);
	}
	article table tr:first-child th {
		background-color: hsl(34, 12.5000%, 14.500%);
		color: hsl(34, 20.000%, 60.00%);
	}
	article table.table-row-striped tr:nth-child(even) td {
		background: hsl(34, 0.000%, 12.500%);
	}
	article table.table-row-striped tr:nth-child(odd) td {
		background: hsl(34, 0.000%, 10.000%);
	}
	article img {
		filter: brightness(66.6667%) hue-rotate(-15deg);
	}
	article form input,
	article form textarea {
		background-color: hsl(0, 0%, 9%);
		color: hsl(30, 50%, 58.470%);
		border: 1px solid hsl(30, 20%, 25.000%);
	}
	article form input:focus,
	article form textarea:focus {
		outline: 1px solid hsl(30, 20%, 28.125%);
	}
	article form button {
		background-color: hsl(0, 0%, 12.5%);
		color: hsl(30, 50%, 50%);
		border: 1px solid hsl(30, 20%, 28.125%);
	}
	article blockquote {
		border-left: 2px solid hsl(30, 25%, 25%);
	}
}

