@media screen {

	@font-face {
		font-family: "Lucida Sans";
		src: url("../woff/screen/lsans.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	    font-display: swap;
	}

	@font-face {
		font-family: "Lucida Sans";
		src: url("../woff/screen/lsansd.woff") format("woff");
		font-weight: bold;
		font-style: normal;
	    font-display: swap;
	}

	@font-face {
		font-family: "Lucida Sans";
		src: url("../woff/screen/lsansdi.woff") format("woff");
		font-weight: bold;
		font-style: italic;
	    font-display: swap;
	}

	@font-face {
		font-family: "Lucida Sans";
		src: url("../woff/screen/lsansi.woff") format("woff");
		font-weight: normal;
		font-style: italic;
	    font-display: swap;
	}

	body {
		font-family: "Lucida Sans", "Lucida Grande", "Helvetica Neue", "Droid Sans", "Ascender Sans", "sans-serif";
	}
}

@media print {

	@font-face {
		font-family: "Playfair Display";
		src: url("../woff/print/PlayfairDisplay.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	    font-display: swap;
	}

	@font-face {
		font-family: "Playfair Display";
		src: url("../woff/print/PlayfairDisplayB.woff") format("woff");
		font-weight: bold;
		font-style: normal;
	    font-display: swap;
	}

	@font-face {
		font-family: "Playfair Display";
		src: url("../woff/print/PlayfairDisplayBI.woff") format("woff");
		font-weight: bold;
		font-style: italic;
	    font-display: swap;
	}

	@font-face {
		font-family: "Playfair Display";
		src: url("../woff/print/PlayfairDisplayI.woff") format("woff");
		font-weight: normal;
		font-style: italic;
	    font-display: swap;
	}

	body {
		font-family: "Playfair Display", "Droid Serif", "Ascender Serif", "serif";
	}
}
